section(
  id="products"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  .section-wrapper
    h3(class="content__text") BUSINESS
    .products-wrapper
      .products-container
        .product-top
          a(
            href="https://www.fu-cosme.app/"
            class="product-link"
            target="_blank"
            rel="noopener noreferrer"
          )
            img(
                src="../img/product_fu-cosme.svg"
                class="product-img"
            )
        .product-bottom-wrapper
          .product-bottom-left
            h4 インフルエンサー仲介事業
            p SNS総フォロワー約170万人規模のインフルエンサーネットワークを活用し、企業とインフルエンサーをつなぐ仲介・プロモーション支援を行っています。
          .product-bottom-right
            img(
              src="../img/product_comming-soon.png"
              class="product-img-comming-soon"
            )

